body {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  background-color: rgb(210, 209, 209);
  font-family: "Open Sans", sans-serif;
}

.header {
  text-align: center;
}

.row {
  padding-bottom: 50px;
}